body {
    font-family: sans-serif;
}

input {
    border-radius: 8px;
    border: none;
    padding: 6px 16px;
    outline: none;
}

.input-area {
    background-color: #c6e5d9   ;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.title {
    text-align: center;
    margin-top: 0
}